<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/admin/style.css" data-th-href="@{/css/admin/styles.css}" />
    <title>Back office index</title>
</head>
<body>

<h1>Bienvenue sur la back office du site</h1>

<div class="admin-actions">
    <a data-th-href="@{/admin/league/new}">Créer un nouveau championnat</a>
    <a data-th-href="@{/admin/match/new}">Créer un nouveau match</a>
    <a data-th-href="@{/admin/team/new}">Créer une nouvelle équipe</a>
    <a data-th-href="@{/admin/stadium/new}">Créer un nouveau stade</a>
</div>

</body>
</html>