<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/admin/style.css" data-th-href="@{/css/admin/styles.css}" />
  <title>Back office index</title>
</head>
<body>

<h1>Bienvenue sur la back office du site</h1>

<div class="admin-actions">
  <a data-th-href="@{/admin/league/ShowEdit}">Modifier un championnat</a>
  <a data-th-href="@{/admin/match/ShowEdit}">Modifier un match</a>
  <a data-th-href="@{/admin/team/new}">Modifier une équipe</a>
  <a data-th-href="@{/admin/stadium/new}">Modifier un stade</a>
</div>

</body>
</html>