* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg, rgb(54, 111, 255) 0%, rgb(92, 255, 74) 100%);
    padding: 50px;
    width: 100%;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.team {
    width: 75vw;
    margin: auto;
    background: rgba(255,255,255,50%);
    padding: 20px;
    border-radius: 10px;
}
.team > thead > tr > th,
.team > tbody > tr > td {
    text-align: end;
    padding: 5px;
}

.team > thead > tr > th.teamName,
.team > tbody > tr > td.teamName {
    text-align: start;
}

.team > tbody > tr:nth-last-child(odd) {
    background: #d3d37c;
}

.team > tbody > tr:nth-last-child(even) {
    background: #4af19d;
}