<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1 data-th-text="${league.name}"></h1>

<!--Afficher les équipes avec leurs points-->
<div data-th-each="team : ${ teams }">
    <h3 data-th-text="${team.name}"></h3>
</div>

<!--Afficher les différentes journées de cette ligues-->
<div data-th-each="journey : ${ journeys }">
    <p data-th-text="${journey.number}"></p>
</div>
<!--Pour chaque journée il faut afficher les équipes qui se rencontrent-->


</body>
</html>