<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/league.css" data-th-href="@{/css/league.css}" />
    <title data-th-text="${league.name}"></title>
</head>
<body>

<h1>Championnat</h1>
<h2 data-th-text="${league.name}"></h2>
<section class="journeys">
    <div class="journey" data-th-each="journey : ${ journeys }">
        <h3 data-th-text="'Journée n° ' + ${journey.number}"></h3>
        <div class="matches">
            <div class="match" data-th-each="match : ${ journey.matches }">
                <p class="homeTeam" data-th-text="${match.homeTeam.name}"></p>
                <span class="homeTeamGoals"  data-th-if="${match.goalsFromHomeTeam == null}">N/A</span>
                <span class="homeTeamGoals"  data-th-unless="${match.goalsFromHomeTeam == null}" data-th-text="${match.goalsFromHomeTeam}"></span>
                <span class="separatorScore"> - </span>
                <span class="awayTeamGoals" data-th-if="${match.goalsFromAwayTeam == null}">N/A</span>
                <span class="awayTeamGoals" data-th-unless="${match.goalsFromAwayTeam == null}" data-th-text="${match.goalsFromAwayTeam}"></span>
                <p class="awayTeam" data-th-text="${match.awayTeam.name}"></p>
            </div>
        </div>
    </div>
</section>

<section class="teams-ranking">
    <h2>Classement des équipes</h2>
    <table class="teamRanked">
        <thead>
        <tr>
            <th class="teamName">Nom équipe</th>
            <th class="teamPoints">Points</th>
            <th class="teamGoals">Buts</th>
            <th class="teamMatchsWin">Gagnés</th>
            <th class="teamMatchsLoose">Perdus</th>
            <th class="teamMatchsTie">Egalités</th>
        </tr>
        </thead>
        <tbody>
        <tr class="teamStats" data-th-each="team: ${teams}">
            <td class="teamName" data-th-text="${team.name}"></td>
            <td class="teamTotalPoints" data-th-text="${team.totalPoints}"></td>
            <td class="teamTotalGoals" data-th-text="${team.totalGoals}"></td>
            <td class="teamTotalWins" data-th-text="${team.totalWins}"></td>
            <td class="teamTotalDefeats" data-th-text="${team.totalDefeats}"></td>
            <td class="teamTotalTies" data-th-text="${team.totalTies}"></td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>