<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/league.css" data-th-href="@{/css/league.css}" />
    <title>Championnats</title>
</head>
<body>

<h1>Football</h1>

<h2>Les championnats</h2>
<div class="btnLeague" data-th-each="league : ${ allLeagues }">
    <a data-th-href="@{'/league?idLeague=' + ${league.id}}" data-th-text="${league.name}"></a>
</div>
<a href="/login">
    <button class="login-button">Admin Login</button>
</a>
<hr>


<section class="teams">
    <h2>Les équipes</h2>
    <div class="team" data-th-each="team : ${ teams }">
        <a data-th-text="${team.name}" data-th-href="@{'/team?idTeam=' + ${team.id}}"></a>
    </div>
</section>

</body>
</html>