<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/ranking.css" data-th-href="@{/css/ranking.css}" />
    <title>Ranking football</title>
</head>
<body>

<h1>Voici le classement des équipes</h1>

<div class="ranking">
    <table class="team">
        <thead>
        <tr>
            <th class="teamName">Nom équipe</th>
            <th class="teamPoints">Points</th>
            <th class="teamGoals">Buts</th>
            <th class="teamMatchsWin">Gagnés</th>
            <th class="teamMatchsLoose">Perdus</th>
            <th class="teamMatchsTie">Egalités</th>
        </tr>
        </thead>
        <tbody>
            <tr class="teamStats" data-th-each="team: ${teams}">
                <td class="teamName" data-th-text="${team.name}"></td>
                <td class="teamTotalPoints" data-th-text="${team.totalPoints}"></td>
                <td class="teamTotalGoals" data-th-text="${team.totalGoals}"></td>
                <td class="teamTotalWins" data-th-text="${team.totalWins}"></td>
                <td class="teamTotalDefeats" data-th-text="${team.totalDefeats}"></td>
                <td class="teamTotalTies" data-th-text="${team.totalTies}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>