<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/admin/style.css" data-th-href="@{/css/admin/styles.css}" />
    <title>Créer un nouveau championnat</title>
</head>
<body>

    <h1>Formulaire pour créer un nouveau championnat</h1>

    <form action="#" method="post" data-th-action="@{'/admin/newLeague'}" data-th-object="${leagueForm}">
        <label for="name">Nom du championnat</label>
        <input type="text" id="name" name="name" placeholder="Ligue des gentlemans">

        <label for="startDate">Date de début</label>
        <input type="text" id="startDate" name="startDate" placeholder="31/01/2022">

        <label for="endDate">Date de fin</label>
        <input type="text" id="endDate" name="endDate" placeholder="31/01/2022">

        <label for="victoryPoints">Points en cas de victoire</label>
        <select name="victoryPoints" id="victoryPoints" class="select">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="defeatPoints">Points en cas de défaite</label>
        <select name="defeatPoints" id="defeatPoints" class="select">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="tiePoints">Points en cas d'égalité</label>
        <select name="tiePoints" id="tiePoints" class="select">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="countryId">Choisir le pays à associer</label>
        <select name="countryId" id="countryId" class="select">
            <option data-th-each="country : ${ countries }" data-th-text="${country.name}" data-th-value="${country.id}"></option>
        </select>

        <input type="submit" value="Créer" class="submitBtn" />
    </form>

</body>
</html>